/* ------------------------------------------------  adding custom fonts  -------------------------------------- */

@font-face {
  font-family: "TTForsRegular";
  src: url(../../assets/fonts/tt-fors-regular.otf);
}

/* ------------------------------------------------  base settings  -------------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "TT Fors";
}

body {
  font-family: "TTForsRegular", sans-serif;
  font-size: 10px;
  letter-spacing: 1.5;
  background-color: #222;
}

a {
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 1rem;
}

ul li {
  list-style: none;
}

/* ------------------------------------------------  utility classes  -------------------------------------- */

.mt-my {
  margin-top: 10rem;
}

.mt-my-2 {
  margin-top: 20rem;
}

.m-my {
  margin: 10rem 0;
}

.xsm-text {
  font-size: 14px;
}

.sm-text {
  font-size: 20px;
}

.md-text {
  font-size: 24px;
}

.md-lg-text {
  font-size: 36px;
}

.lg-text {
  /* font-size: 4.8rem; */
  font-size: 48px;
}

.xl-text {
  font-size: 64px;
}

.font-wt-400 {
  font-weight: 400;
}

.font-wt-700 {
  font-weight: 700;
}

.red {
  color: #fc7a69;
}

.cnt {
  max-width: 1200px;
  margin: 0 auto;
}

.justify-between {
  justify-content: space-between;
}

.btn-default {
  background-color: #fc7a69;
  color: #222;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 18px;
  border-radius: 5rem;
  cursor: pointer;
}

/* ------------------------ NavBar  ------------------------------- */

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* ------------------------ COVER PAGE  ------------------------------- */

.box {
  width: 49%;
  margin-top: 5rem;
  /* border: #fff solid 2px; */
}

.box-text {
  float: left;
  margin-top: 15rem;
}
.box-img {
  float: right;
}

.box-img img {
  width: 90%;
}

.store {
  margin: auto 0;
}

.slant-div {
  width: 100%;
  height: 2300px;
  background-color: #444;
  position: absolute;
  top: 800px;
  left: 0;
  z-index: -1;
  transform: skewY(30deg);
  transform-origin: top left;
}

/* ------------------------ CAROUSEL  ------------------------------- */

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

ol.carousel-indicators {
  display: block;
}

ol.carousel-indicators li {
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 0;
  background: rgba(183, 179, 179, 0.2);
}

ol.carousel-indicators li.active {
  background: rgba(183, 179, 179, 1);
}

.row-img {
  width: 400px;
  float: left;
  height: 400px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

/* ---------------------------------------- Testimonial classes  --------------------------------------------- */

.testimonial-heading{
  background: url(../../assets/img/dt.svg) no-repeat left top;  
}

.card-width-350 {
  width: 350px;
}

.card-width-450 {
  width: 450px;
}
/* ---------------------------------------- Footer classes  --------------------------------------------- */

.fees-charges {
  padding: 1rem;
  background-color: #fc7a69;
  border-radius: 1rem;
  color: #fff;
}
.tnc {
  padding: 1rem;
  background-color: #075955;
  border-radius: 1rem;
  color: #fff;
}

.support {
  padding: 1rem;
  background-color: #656565;
  border-radius: 1rem;
  color: #fff;
}

.btn-more {
  background-color: #fff;
  color: #222;
  border: none;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  border-radius: 5rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

.footer-big {
  padding: 50px 0 65px 0;
}

.footer--light {
  background: #444;
}

.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
  color: #fff;
}

.footer-menu ul li a {
  font-size: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer-menu ul li a:hover {
  color: #fc7a69;
}

.footer-menu--1 {
  width: 100%;
}

.footer-widget-title {
  font-size: 18px;
  color: #fff;
  opacity: 0.6;
  text-transform: uppercase;
}

.widget-about img {
  display: block;
  margin-bottom: 30px;
}

.widget-about p {
  font-weight: 400;
}

.res-btn {
  display: block;
}

.btn-res {
  display: none;
}

@media (max-width: 991px) {
  .res-btn {
    display: none;
  }

  .btn-res {
    display: block;
  }

  .slant-div {
    width: 100%;
    height: 2200px;
    background-color: #444;
    position: absolute;
    top: 1100px;
    left: 0;
    z-index: -1;
    transform: skewY(30deg);
    transform-origin: top left;
  }

  ol.carousel-indicators {
    display: none;
  }
}
